@use "../../variables" as *;
@use "../../reusableElements" as *;

.footer{
    width: 100%;
    background-color: #3a4861;
    color: #EDEDEC;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order:3;
border-top: 1px solid $logo-color;

}
