.header {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $primary-color;
    order: 1;
    border-bottom: 1px solid $logo-color;
    .logo-login-nav {
        width: 100%;
        flex: 1; /* ياخد نص المساحة */
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            flex: 1; /* ياخد نص المساحة */
            text-align: start;
            font-size: 25px;
            font-weight: 500;
            text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
            padding: 0 20px;
            color: $logo-color;
        }
        .login {
            flex: 1; /* ياخد نص المساحة */
            display: flex;
            justify-content: flex-start;
            padding: 0 10px;
            gap: 1rem;
        }
    }
    .site-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1; /* ياخد نص المساحة */
    }
}
@mixin nav-list($background) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
    background-color: $background;
    a {
        font-size: 17px;
        font-weight: 900;
        &:hover {
            padding: 10px;
            border-radius: 5px;
            background-color: #333;
            color: #f9f9f9;
        }
    }
}
.nav-list-1 {
    @include nav-list($nav-list-1-background);
    color: $nav-color-1;
}
.nav-list-2 {
    @include nav-list($nav-list-2-background);
    color: $nav-color-1;

}
