@use "../../variables" as *;
@use "../../reusableElements" as *;

/* maincontent container */
.maincontent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-wrap: wrap;
    gap: 2rem;
    padding: 20px;
    order: 2;
    background-color: $primary-color;
    .learn-sidebar {
        @include aside();
        background-color: $nav-list-2-background;
        color: $logo-color;
        .aside-main-links {
            padding: 5px;
            .link-content {
                background-color: $primary-color;
                border-radius: 5px;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    .content {
        flex: 1;
        background-color: $logo-color;
        padding: 20px;
        border-radius: 10px;
        min-height: 70vh;
        border: 1px solid black;
    }
}
/* Responsive بسيط */
@media (max-width: 768px) {
    .maincontent {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto; /* مش هيبقى طول الشاشة في الموبايل */
        max-height: 300px; /* اسكرول بسيط */
        position: static !important;
    }
}
