$primary-color: #1e293b;
$secondary-color: #1e293b;
$logo-color: #f3ebeb;
$background-color: #f9f9f9;
$nav-list-1-background: #2b384f;
$nav-list-2-background: #3a4861;
$nav-color-1: #f3ebeb;
$nav-color-2: #f3ebeb;
$btn-background-delete:rgb(182, 39, 39);
$btn-background-edit:green;
$btn-background-back : $primary-color;
$btn-color-back : rgb(255, 111, 0);
$btn-background-show:$nav-list-2-background;
$dashboard-bg-color: #d0d1d3;

$btn-background-publish:rgb(255, 140, 0);
$btn-background-unpublish:#3a4861;
h2{
color: #1e293b;
font-size: xx-large;
font-weight: bolder;
}
