@use "variables" as *;
@use "reusableElements" as *;
// لو لسه بتستخدم ملفات SCSS تانية
@import "app_style/main_parts/header_style";
@import "app_style/main_parts/main_content";
@import "app_style/main_parts/footer_style";
@import "app_style/blog/blog";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    color: #222;
}
.mainContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dddbdb;
}

.btn-login {
    @include btn-style($nav-list-2-background);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
}

.btn-register {
     @include btn-style($nav-list-2-background);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
}

.btn-dashboard {
    @include btn-style($nav-list-2-background);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
}
.btn-create {
    @include btn-style($nav-list-2-background);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
}
.sidebar{
    @include aside;
    color: #dddbdb;
}
