@use "variables" as *;
@use "reusableElements" as *;

@use "app_style/main_parts/header_style";
@use "app_style/main_parts/main_content";
@use "app_style/main_parts/footer_style";

@use "app_style/blog/blog";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    color: #222;
}
.mainContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #dddbdb;
}

.btn-delete {
    @include btn-style($btn-background-delete,small);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
     font-weight: 800;
    font-size: 1rem;

}
.btn-edit {
    @include btn-style($btn-background-edit,small);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
     font-weight: 800;
    font-size: 1rem;

}
.btn-show {
    @include btn-style($btn-background-show);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
    font-weight: 800;
    font-size: 1rem;
}

.btn-dashboard {
    @include btn-style($nav-list-1-background);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
}
.btn-back {
    @include btn-style($btn-background-back);
    color: $btn-color-back;
    border: 2px solid whitesmoke;
}
.btn-create {
    @include btn-style($nav-list-1-background);
    text-shadow: 3px 3px 3px $nav-list-1-background;
    border: 2px solid whitesmoke;
}
.sidebar {
    @include aside;
    color: #dddbdb;
}
.table-dashboard {
    @include dash-table($nav-list-1-background, $nav-color-1);

}
