$primary-color: #4a90e2;
$secondary-color: #50e3c2;
$font-color: #333;
$background-color: #f9f9f9;
.header {

    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    order:1;

    .logo-login-nav {
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 40%;
            text-align: center;
        }
        .login{
            width: 40%;
            text-align: center;
        }
    }
}
