.blog-content {
    width: 100%;
    height: 90vh; // لازم ارتفاع ثابت علشان الـ scroll يشتغل
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; // يخلي الكروت تنزل سطر جديد
    gap: 1rem;
    padding: 20px;
}


.article-card{
    @include card;
}
